<html>
    <head>
        <title>Add Student</title>
    </head>
    <body>
        <h1>Add Student</h1>

        <ul>
            <li>Student ID must be 4 characters</li>
            <li>Name must be at least 5 characters</li>
            <li>GPA must be between 0.0 & 4.0</li>
        </ul>
        
        <form action="/addStudent" method="POST">
            <label>Student ID</label>
            <input type="text" name="sid"><br>
            <label>Name</label>
            <input type="text" name="name"><br>
            <label>GPA</label>
            <input type="text" name="gpa"><button>Add</button>
        </form>
        
        <a href="/">Home</a>
    </body>
</html>