<table>
    <tr>
        <th>Student ID</th>
        <th>Name</th>
        <th>GPA</th>
        <th>Action</th>
    </tr>
<% students.forEach((student)=>{%>
    <tr>
        <td><%= student.sid %></td>
        <td><%= student.name %></td>
        <td><%= student.gpa %></td>
        <a href="" onclick="">Delete</a>
    </tr>
    <% }) %>
</table>